<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MenuMapper Interface와 MenuMapper.xml 설정파일 연동
1. DAO 인터페이스와 동일한 패키지에 위치해야 한다.
2. DAO 인터페이스의 풀네임을 namespace로 지정해야 한다.
3. DAO 인터페이스와 XML의 이름이 동일해야 한다.
4. 작성한 메소드의 이름과 id가 일치하고, 리턴 타입이 일치하는 쿼리문을 모두 작성해야 한다.
-->
<mapper namespace="com.ohgiraffers.mvc.student.model.dao.StudentMapper">
    <!-- EmployeeDTO로 매핑 하겠다. -->
    <select id="selectOneStudentById" resultType="com.ohgiraffers.mvc.student.model.dto.StudentDTO">
        SELECT
            student_code,
            student_name,
            student_phone,
            student_grade,
            password,
            student_status,
            major_subject,
            tutor_professor
        FROM
            tb_student
        WHERE
            student_code = #{ studentCode }
    </select>
    <select id="selectAllStudent" resultType="com.ohgiraffers.mvc.student.model.dto.StudentDTO">
        SELECT
            student_code,
            student_name,
            student_phone,
            student_grade,
            password,
            student_status,
            major_subject,
            tutor_professor
        FROM
            tb_student
    </select>
    <insert id="insertStudent">
        INSERT
        INTO tb_student
        (
            student_code,
            student_name,
            student_phone,
            student_grade,
            password,
            student_status,
            major_subject,
            tutor_professor
        )
        VALUES
        (
            #{ studentCode },
            #{ studentName },
            #{ studentPhone },
            #{ studentGrade },
            #{ password },
            #{ studentStatus },
            #{ majorSubject },
            #{ tutorProfessor }
        )
    </insert>
    <update id="updateStudent">
        UPDATE
            tb_student
        SET
            student_name = #{ studentName }
        WHERE
            student_code = #{ studentCode }
    </update>
    <delete id="deleteStudent">
        DELETE
        FROM
            tb_student
        WHERE
            student_code = #{ studentCode }
    </delete>
</mapper>